@import "https://js.arcgis.com/4.21/@arcgis/core/assets/esri/themes/dark/main.css";

html,
body,
#appDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#loginPanel {
    display: none;
    padding: 5rem;
    text-align: center;
}

#personalizedPanel {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: small;
}

.action {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}